
/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/**********header********/
/*region navigation*/
.region-navigation-collapsible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-default {
    background:#fff;
    background-color: transparent; /*override*/
    border-color: transparent; /*override*/
    border:none;
}
header .logo img {
    mix-blend-mode:difference;
    filter:invert(1);
}
